body {

	background-color: white;
}
		
		
#phaser-app {
	margin: 0 auto;
	-ms-transform: scale(0.5, 0.5); /* IE 9 */
    -webkit-transform: scale(0.5, 0.5); /* Safari */
    transform: scale(0.5, 0.5);
}
